<div class='background'>
    <div class='body'>
        <video *ngIf="url" id="videoPlayer" controls autoplay>
          <!-- <source src="http://localhost:3000/movie/stream/Zootopia%202016" type="video/mp4"> -->
          <source [src]="url" type="video/mp4">
          <track kind="subtitles" src="#" srclang="en">
        </video>

      <mat-divider ></mat-divider>
      <ul id='movieInfo'>
          <li *ngIf='movie && movie.title'>
              <div>Title</div><div>{{movie.title}}</div>
          </li>

          <li *ngIf='movie && movie.release_date'>
              <div>release_date</div><div>{{movie.release_date}}</div>
          </li>

          <li *ngIf='movie && movie.genres'>
              <div>genres</div>
              <div>
                <!-- <a *ngFor="let genre of movie.genres" routerLink="{{'/category/'+genre.id}}"> -->
                <a *ngFor="let genre of movie.genres" routerLink="{{'/video/'+video_id}}">
                  {{genre.name}}
                </a>
              </div>
          </li>

          <li *ngIf='movie && movie.overview'>
              <div>overview</div><div>{{movie.overview}}</div>
          </li>

          <li *ngIf='movie && movie.poster_path'>
            <img src="{{'https://image.tmdb.org/t/p/w342' + movie.poster_path}}" >
          </li>
      </ul>
      <div class='comments'>
          <mat-form-field class='input'>
            <textarea [(ngModel)]="newcomment" name='newcomment' matInput [placeholder]="'stream.comment' | translate"> </textarea>
          </mat-form-field>
          <button mat-raised-button (click)='postComment()'>{{'stream.post' | translate}}</button>
          <br>
          <h3 translate>stream.comments</h3>
          <div *ngIf="!comments.length">
            <em translate>stream.noComment</em>
          </div>
          <mat-card class="example-card" *ngFor="let comment of comments">
              <mat-card-header>
                <img mat-card-avatar [src]='comment.user.picture' class="example-header-image">
                <mat-card-title>{{comment.user.login}}</mat-card-title>
                <mat-card-subtitle>{{comment.post}}</mat-card-subtitle>
              </mat-card-header>
          </mat-card>
      </div>
    </div>
  </div>
