.background {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}

mat-card {
  background-color: #f3f3f3;
}

@media (max-width: 740px) {
  .row {
    display: flex; flex-direction: row
  }

  .select {
    width: 370px;
  }
}

@media (min-width: 741px) {
  .long-row {
    display: flex; flex-direction: row
  }

  .row {
    display: flex; flex-direction: row
  }

  .select {
    width: 280px;
    margin-right: 10px;
  }
  .endYY {
    margin-right: 10px;
  }
}
